In [1]:
import pandas as pd
import numpy as np

In [35]:


#get data from the Penn World Tables excel file
pwt_df = pd.read_excel('pwt100.xlsx', 'Data')
#keep only the data we need
df = pwt_df[['countrycode', 'country', 'year', 'rgdpe', 'rgdpo', 'pop', 'hc', 'ctfp', 'cwtfp']]

df = df.rename(columns={'pop': 'population'})

#df.insert(4, 'rgdpe per capita', np.nan)
df['popGrowth'] = df['population'].pct_change().mul(100).round(2)

df['rgdpepercapita'] = df['rgdpe'] / df['population']

df['rgdpepercapitagrowth'] = df['rgdpepercapita'].pct_change().mul(100).round(2)

df.to_excel("ProjectData.xlsx", sheet_name='ProjectData') 

#df

,countrycode,country,year,rgdpe,rgdpo,population,hc,ctfp,cwtfp,popGrowth,rgdpepercapita,rgdpepercapitagrowth
0,ABW,Aruba,1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,1951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,1952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,1953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,1954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
12805,ZWE,Zimbabwe,2015,40141.617188,39798.644531,13.814629,2.584653,0.386632,0.447125,1.68,2905.732553,4.27
12806,ZWE,Zimbabwe,2016,41875.203125,40963.191406,14.030331,2.616257,0.385642,0.423063,1.56,2984.619759,2.71
12807,ZWE,Zimbabwe,2017,44672.175781,44316.742188,14.236595,2.648248,0.402779,0.432392,1.47,3137.841301,5.13
12808,ZWE,Zimbabwe,2018,44325.109375,43420.898438,14.438802,2.680630,0.382059,0.418766,1.42,3069.860600,-2.17
12809,ZWE,Zimbabwe,2019,42296.062500,40826.570312,14.645468,2.713408,0.351973,0.388345,1.43,2887.996649,-5.92

In [44]:
#get data from the Penn World Tables excel file
pwt_df = pd.read_excel('pwt100.xlsx', 'Data')
#keep only the data we need
df = pwt_df[['countrycode', 'country', 'year', 'rgdpe', 'rgdpo', 'pop', 'hc', 'ctfp', 'cwtfp']]

df = df.rename(columns={'pop':'population', 
                        'hc':'humancapital', 
                        'ctfp':'tfp', 
                        'cwtfp':'welfare_tfp', 
                        'rgdpe':'rgdpex', 
                        'rgdpo':'rgdpout'
                       })
df['country'] = df['countrycode'] + "_" + df['country']
df = df.drop(columns=['countrycode'])

#df

In [37]:
temp = df.copy()
temp['country'] = temp['country'] + '_rgdpex'
rgdpex = temp.pivot(index='country', columns='year', values='rgdpex')
rgdpex

year,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,,,,,,,,,,,
ABW_Aruba_rgdpex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4012.711670,4092.740967,3934.018311,3968.858887,3905.877441,3959.592529,3953.522217,3979.910400,3927.566650,3921.261230
AGO_Angola_rgdpex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,140742.281250,185480.781250,204876.359375,215438.578125,232251.187500,216207.093750,211653.796875,223326.734375,239713.125000,228151.015625
AIA_Anguilla_rgdpex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,408.891510,409.875702,385.362854,371.275848,392.403137,408.109222,390.413300,340.551147,360.617859,376.634979
ALB_Albania_rgdpex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29490.845703,29684.384766,30473.085938,29908.675781,31027.822266,32037.935547,32285.193359,33842.156250,35248.367188,35890.019531
ARE_United Arab Emirates_rgdpex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,565722.187500,664640.937500,669583.562500,662725.750000,685982.437500,632701.187500,624780.937500,647360.500000,640754.500000,681525.812500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM_Viet Nam_rgdpex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,391267.875000,424564.750000,471763.468750,491029.500000,523532.781250,561821.187500,601767.562500,653410.812500,705553.375000,750726.750000
YEM_Yemen_rgdpex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,104376.546875,92406.796875,87272.656250,88536.312500,90251.578125,62905.148438,51759.832031,38939.531250,48699.906250,50052.933594
ZAF_South Africa_rgdpex,77844.742188,79234.429688,73623.5625,82331.632812,89154.726562,92642.734375,98464.265625,103939.492188,103757.085938,105929.476562,...,657708.875000,692406.750000,695605.562500,703277.875000,705391.000000,717051.875000,722946.187500,738072.875000,743338.562500,748940.000000
ZMB_Zambia_rgdpex,NaN,NaN,NaN,NaN,NaN,8253.540039,8764.892578,7424.285156,6713.200195,8605.632812,...,46988.753906,53234.613281,51260.371094,51710.050781,53782.394531,51722.648438,54719.503906,54565.285156,56671.445312,57956.183594
ZWE_Zimbabwe_rgdpex,NaN,NaN,NaN,NaN,6373.737305,6568.608398,7187.440430,7934.921875,7941.915527,9015.389648,...,27993.345703,29494.238281,34897.953125,37219.421875,37861.210938,40141.617188,41875.203125,44672.175781,44325.109375,42296.062500

In [38]:
temp = df.copy()
temp['country'] = temp['country'] + '_rgdpout'
rgdpout = temp.pivot(index='country', columns='year', values='rgdpout')
rgdpout

year,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,,,,,,,,,,,
ABW_Aruba_rgdpout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3933.467773,4009.232422,3899.813232,4674.097656,4075.201172,3921.183350,3320.976807,3062.580566,3444.658691,3467.299561
AGO_Angola_rgdpout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,159625.234375,201857.656250,229563.234375,242490.281250,254874.671875,224712.609375,218670.640625,230151.343750,233805.062500,227855.718750
AIA_Anguilla_rgdpout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,381.682800,381.222748,352.689240,303.354248,288.303040,249.571320,225.619247,195.634521,150.344666,225.680527
ALB_Albania_rgdpout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31021.064453,31369.515625,32366.191406,30914.691406,32090.505859,33659.421875,33697.976562,34974.945312,35363.468750,36103.042969
ARE_United Arab Emirates_rgdpout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,618895.250000,726414.687500,777423.625000,771047.937500,798546.187500,693186.187500,670879.687500,629800.500000,633896.625000,645956.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM_Viet Nam_rgdpout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,418834.937500,455975.281250,484298.625000,509217.562500,544960.625000,572777.500000,596363.125000,647224.937500,689643.437500,724123.375000
YEM_Yemen_rgdpout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113271.515625,100930.937500,95876.570312,98239.343750,96559.664062,67143.296875,54972.945312,39780.566406,50024.230469,51828.058594
ZAF_South Africa_rgdpout,78747.976562,82031.890625,76588.085938,84552.203125,91874.843750,95587.578125,101618.890625,107611.437500,107842.664062,109421.242188,...,660532.437500,696920.062500,698631.937500,703617.687500,710668.312500,716283.250000,713601.625000,726021.000000,732308.187500,734094.375000
ZMB_Zambia_rgdpout,NaN,NaN,NaN,NaN,NaN,3783.488770,4278.163086,4884.709961,4781.015625,5419.326172,...,45006.218750,51794.539062,50681.574219,51322.351562,53353.972656,52037.515625,54400.398438,53331.152344,55459.121094,56783.714844
ZWE_Zimbabwe_rgdpout,NaN,NaN,NaN,NaN,6277.433594,6469.363281,7078.850586,7815.036621,7821.925781,8879.177734,...,28976.095703,31580.892578,36233.019531,38243.519531,38674.859375,39798.644531,40963.191406,44316.742188,43420.898438,40826.570312

In [39]:
temp = df.copy()
temp['country'] = temp['country'] + '_population'
population = temp.pivot(index='country', columns='year', values='population')
population

year,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,,,,,,,,,,,
ABW_Aruba_population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.101669,0.102046,0.102560,0.103159,0.103774,0.104341,0.104872,0.105366,0.105845,0.106314
AGO_Angola_population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.356246,24.220661,25.107931,26.015781,26.941779,27.884381,28.842489,29.816766,30.809787,31.825295
AIA_Anguilla_population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.013438,0.013620,0.013795,0.013954,0.014112,0.014279,0.014429,0.014584,0.014731,0.014869
ALB_Albania_population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.948023,2.928592,2.914096,2.903790,2.896305,2.890513,2.886438,2.884169,2.882740,2.880917
ARE_United Arab Emirates_population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.549988,8.946777,9.141596,9.197910,9.214175,9.262900,9.360980,9.487203,9.630959,9.770529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM_Viet Nam_population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,87.967651,88.871380,89.801926,90.752592,91.713848,92.677076,93.640422,94.600648,95.545962,96.462106
YEM_Yemen_population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.154855,23.807588,24.473178,25.147109,25.823485,26.497889,27.168208,27.834819,28.498683,29.161922
ZAF_South Africa_population,13.195171,13.515906,13.844547,14.192672,14.549752,14.915640,15.290926,15.675562,16.070079,16.474730,...,51.216964,52.003755,52.832658,53.687121,54.544186,55.386367,56.207646,57.009756,57.792518,58.558270
ZMB_Zambia_population,NaN,NaN,NaN,NaN,NaN,2.820046,2.890818,2.964538,3.041207,3.118859,...,13.605984,14.023203,14.465150,14.926544,15.399788,15.879361,16.363458,16.853599,17.351708,17.861030
ZWE_Zimbabwe_population,NaN,NaN,NaN,NaN,3.172192,3.269781,3.385572,3.497411,3.610416,3.728190,...,12.697723,12.894322,13.115150,13.350373,13.586707,13.814629,14.030331,14.236595,14.438802,14.645468

In [45]:
temp = df.copy()
temp['country'] = temp['country'] + '_humancapital'
humancapital = temp.pivot(index='country', columns='year', values='humancapital')
humancapital

year,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,,,,,,,,,,,
ABW_Aruba_humancapital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGO_Angola_humancapital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.417133,1.424196,1.431295,1.438429,1.445598,1.452803,1.460044,1.467321,1.474635,1.481984
AIA_Anguilla_humancapital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB_Albania_humancapital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.904078,2.910693,2.917346,2.924037,2.930766,2.937533,2.944339,2.951184,2.958068,2.964992
ARE_United Arab Emirates_humancapital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.717433,2.720643,2.723864,2.727095,2.730336,2.733587,2.736849,2.740120,2.743402,2.746695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM_Viet Nam_humancapital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.420771,2.475246,2.532614,2.582211,2.624784,2.669350,2.716025,2.764934,2.816210,2.869998
YEM_Yemen_humancapital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.416253,1.450822,1.488720,1.530339,1.576131,1.626613,1.682384,1.735455,1.786615,1.842989
ZAF_South Africa_humancapital,1.652201,1.669843,1.687675,1.705697,1.720266,1.734093,1.735023,1.735954,1.736885,1.737817,...,2.504363,2.557714,2.596012,2.635149,2.675951,2.718503,2.762902,2.809246,2.857641,2.908202
ZMB_Zambia_humancapital,NaN,NaN,NaN,NaN,NaN,1.241530,1.248710,1.255931,1.263194,1.270499,...,2.222129,2.275441,2.330032,2.385934,2.443176,2.501791,2.561215,2.602425,2.644298,2.686845
ZWE_Zimbabwe_humancapital,NaN,NaN,NaN,NaN,1.179990,1.188661,1.199262,1.209957,1.220747,1.231634,...,2.372605,2.415823,2.459828,2.504635,2.550258,2.584653,2.616257,2.648248,2.680630,2.713408

In [46]:
temp = df.copy()
temp['country'] = temp['country'] + '_tfp'
tfp = temp.pivot(index='country', columns='year', values='tfp')
tfp

year,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,,,,,,,,,,,
ABW_Aruba_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGO_Angola_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.305130,0.370382,0.408607,0.432413,0.442301,0.409042,0.410251,0.406525,0.406463,0.380317
AIA_Anguilla_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB_Albania_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ARE_United Arab Emirates_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM_Viet Nam_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM_Yemen_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAF_South Africa_tfp,NaN,NaN,NaN,NaN,0.737399,0.706549,0.724468,0.734707,0.723610,0.702717,...,0.626382,0.613759,0.613220,0.604268,0.596181,0.578608,0.566500,0.570064,0.554365,0.542998
ZMB_Zambia_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.377568,...,0.296721,0.305668,0.294910,0.300656,0.296754,0.288392,0.287905,0.286402,0.262425,0.255552
ZWE_Zimbabwe_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.545066,0.598955,...,0.296705,0.314451,0.389596,0.393277,0.394410,0.386632,0.385642,0.402779,0.382059,0.351973

In [47]:
temp = df.copy()
temp['country'] = temp['country'] + '_welfare_tfp'
welfare_tfp = temp.pivot(index='country', columns='year', values='welfare_tfp')
welfare_tfp

year,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,,,,,,,,,,,
ABW_Aruba_welfare_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGO_Angola_welfare_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.219377,0.261308,0.292825,0.337464,0.366825,0.391767,0.377507,0.357631,0.339842,0.325579
AIA_Anguilla_welfare_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB_Albania_welfare_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ARE_United Arab Emirates_welfare_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM_Viet Nam_welfare_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM_Yemen_welfare_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAF_South Africa_welfare_tfp,NaN,NaN,NaN,NaN,0.689216,0.67222,0.66844,0.686811,0.678393,0.619259,...,0.601242,0.589439,0.603053,0.605691,0.586788,0.565898,0.549540,0.551001,0.535478,0.526934
ZMB_Zambia_welfare_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.468558,...,0.286520,0.295175,0.290558,0.311255,0.302322,0.305858,0.288397,0.286681,0.241529,0.244595
ZWE_Zimbabwe_welfare_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.661074,0.626201,...,0.347313,0.346528,0.460119,0.433346,0.428109,0.447125,0.423063,0.432392,0.418766,0.388345

In [51]:
# Append pivoted tables together
pivot = pd.concat([rgdpex, rgdpout, population, humancapital, tfp, welfare_tfp])
pivot = pivot.sort_index()
pivot

year,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,,,,,,,,,,,
ABW_Aruba_humancapital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABW_Aruba_population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.101669,0.102046,0.102560,0.103159,0.103774,0.104341,0.104872,0.105366,0.105845,0.106314
ABW_Aruba_rgdpex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4012.711670,4092.740967,3934.018311,3968.858887,3905.877441,3959.592529,3953.522217,3979.910400,3927.566650,3921.261230
ABW_Aruba_rgdpout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3933.467773,4009.232422,3899.813232,4674.097656,4075.201172,3921.183350,3320.976807,3062.580566,3444.658691,3467.299561
ABW_Aruba_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZWE_Zimbabwe_population,NaN,NaN,NaN,NaN,3.172192,3.269781,3.385572,3.497411,3.610416,3.728190,...,12.697723,12.894322,13.115150,13.350373,13.586707,13.814629,14.030331,14.236595,14.438802,14.645468
ZWE_Zimbabwe_rgdpex,NaN,NaN,NaN,NaN,6373.737305,6568.608398,7187.440430,7934.921875,7941.915527,9015.389648,...,27993.345703,29494.238281,34897.953125,37219.421875,37861.210938,40141.617188,41875.203125,44672.175781,44325.109375,42296.062500
ZWE_Zimbabwe_rgdpout,NaN,NaN,NaN,NaN,6277.433594,6469.363281,7078.850586,7815.036621,7821.925781,8879.177734,...,28976.095703,31580.892578,36233.019531,38243.519531,38674.859375,39798.644531,40963.191406,44316.742188,43420.898438,40826.570312
ZWE_Zimbabwe_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.545066,0.598955,...,0.296705,0.314451,0.389596,0.393277,0.394410,0.386632,0.385642,0.402779,0.382059,0.351973
ZWE_Zimbabwe_welfare_tfp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.661074,0.626201,...,0.347313,0.346528,0.460119,0.433346,0.428109,0.447125,0.423063,0.432392,0.418766,0.388345