In [22]:
import pandas as pd
import numpy as np

#get data from the Penn World Tables excel file
pwt_df = pd.read_excel('pwt100.xlsx', 'Data')
#keep only the data we need
df = pwt_df[['countrycode', 'country', 'year', 'rgdpe', 'rgdpo', 'pop', 'hc', 'ctfp', 'cwtfp']]

df = df.rename(columns={'pop': 'population'})

#df.insert(4, 'rgdpe per capita', np.nan)
df['popGrowth'] = df['population'].pct_change().mul(100).round(2)

df['rgdpepercapita'] = df['rgdpe'] / df['population']

df['rgdpepercapitagrowth'] = df['rgdpepercapita'].pct_change().mul(100).round(2)

df.to_excel("ProjectData.xlsx", sheet_name='ProjectData') 

df

,countrycode,country,year,rgdpe,rgdpo,population,hc,ctfp,cwtfp,popGrowth,rgdpepercapita,rgdpepercapitagrowth
0,ABW,Aruba,1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,1951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,1952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,1953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,1954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
12805,ZWE,Zimbabwe,2015,40141.617188,39798.644531,13.814629,2.584653,0.386632,0.447125,1.68,2905.732553,4.27
12806,ZWE,Zimbabwe,2016,41875.203125,40963.191406,14.030331,2.616257,0.385642,0.423063,1.56,2984.619759,2.71
12807,ZWE,Zimbabwe,2017,44672.175781,44316.742188,14.236595,2.648248,0.402779,0.432392,1.47,3137.841301,5.13
12808,ZWE,Zimbabwe,2018,44325.109375,43420.898438,14.438802,2.680630,0.382059,0.418766,1.42,3069.860600,-2.17
12809,ZWE,Zimbabwe,2019,42296.062500,40826.570312,14.645468,2.713408,0.351973,0.388345,1.43,2887.996649,-5.92