In [1]:
import pandas as pd
import numpy as np

In [22]:


#get data from the Penn World Tables excel file
pwt_df = pd.read_excel('pwt100.xlsx', 'Data')
#keep only the data we need
df = pwt_df[['countrycode', 'country', 'year', 'rgdpe', 'rgdpo', 'pop', 'hc', 'ctfp', 'cwtfp']]

df = df.rename(columns={'pop': 'population'})

#df.insert(4, 'rgdpe per capita', np.nan)
df['popGrowth'] = df['population'].pct_change().mul(100).round(2)

df['rgdpepercapita'] = df['rgdpe'] / df['population']

df['rgdpepercapitagrowth'] = df['rgdpepercapita'].pct_change().mul(100).round(2)

df.to_excel("ProjectData.xlsx", sheet_name='ProjectData') 

df

,countrycode,country,year,rgdpe,rgdpo,population,hc,ctfp,cwtfp,popGrowth,rgdpepercapita,rgdpepercapitagrowth
0,ABW,Aruba,1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,1951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,1952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,1953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,1954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
12805,ZWE,Zimbabwe,2015,40141.617188,39798.644531,13.814629,2.584653,0.386632,0.447125,1.68,2905.732553,4.27
12806,ZWE,Zimbabwe,2016,41875.203125,40963.191406,14.030331,2.616257,0.385642,0.423063,1.56,2984.619759,2.71
12807,ZWE,Zimbabwe,2017,44672.175781,44316.742188,14.236595,2.648248,0.402779,0.432392,1.47,3137.841301,5.13
12808,ZWE,Zimbabwe,2018,44325.109375,43420.898438,14.438802,2.680630,0.382059,0.418766,1.42,3069.860600,-2.17
12809,ZWE,Zimbabwe,2019,42296.062500,40826.570312,14.645468,2.713408,0.351973,0.388345,1.43,2887.996649,-5.92

In [9]:
#get data from the Penn World Tables excel file
pwt_df = pd.read_excel('pwt100.xlsx', 'Data')
#keep only the data we need
df = pwt_df[['countrycode', 'country', 'year', 'rgdpe', 'rgdpo', 'pop', 'hc', 'ctfp', 'cwtfp']]

df = df.rename(columns={'pop':'population', 
                        'hc':'human capital', 
                        'ctfp':'tfp', 
                        'cwtfp':'welfare_tfp', 
                        'rgdpe':'rgdpex', 
                        'rgdpo':'rgdpout'
                       })
df['country'] = df['countrycode'] + "_" + df['country']
df = df.drop(columns=['countrycode'])

df

,country,year,rgdpe,rgdpo,population,human capital,tfp,welfare_tfp
0,ABW_Aruba,1950,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW_Aruba,1951,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW_Aruba,1952,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW_Aruba,1953,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW_Aruba,1954,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
12805,ZWE_Zimbabwe,2015,40141.617188,39798.644531,13.814629,2.584653,0.386632,0.447125
12806,ZWE_Zimbabwe,2016,41875.203125,40963.191406,14.030331,2.616257,0.385642,0.423063
12807,ZWE_Zimbabwe,2017,44672.175781,44316.742188,14.236595,2.648248,0.402779,0.432392
12808,ZWE_Zimbabwe,2018,44325.109375,43420.898438,14.438802,2.680630,0.382059,0.418766
12809,ZWE_Zimbabwe,2019,42296.062500,40826.570312,14.645468,2.713408,0.351973,0.388345

In [22]:
temp = df
temp['country'] = temp['country'] + '_rgdpex'
rgdpe = temp.pivot(index='country', columns='year', values='rgdpex')
rgdpe

year,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,,,,,,,,,,,
ABW_Aruba_rgdpe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4012.711670,4092.740967,3934.018311,3968.858887,3905.877441,3959.592529,3953.522217,3979.910400,3927.566650,3921.261230
AGO_Angola_rgdpe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,140742.281250,185480.781250,204876.359375,215438.578125,232251.187500,216207.093750,211653.796875,223326.734375,239713.125000,228151.015625
AIA_Anguilla_rgdpe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,408.891510,409.875702,385.362854,371.275848,392.403137,408.109222,390.413300,340.551147,360.617859,376.634979
ALB_Albania_rgdpe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29490.845703,29684.384766,30473.085938,29908.675781,31027.822266,32037.935547,32285.193359,33842.156250,35248.367188,35890.019531
ARE_United Arab Emirates_rgdpe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,565722.187500,664640.937500,669583.562500,662725.750000,685982.437500,632701.187500,624780.937500,647360.500000,640754.500000,681525.812500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM_Viet Nam_rgdpe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,391267.875000,424564.750000,471763.468750,491029.500000,523532.781250,561821.187500,601767.562500,653410.812500,705553.375000,750726.750000
YEM_Yemen_rgdpe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,104376.546875,92406.796875,87272.656250,88536.312500,90251.578125,62905.148438,51759.832031,38939.531250,48699.906250,50052.933594
ZAF_South Africa_rgdpe,77844.742188,79234.429688,73623.5625,82331.632812,89154.726562,92642.734375,98464.265625,103939.492188,103757.085938,105929.476562,...,657708.875000,692406.750000,695605.562500,703277.875000,705391.000000,717051.875000,722946.187500,738072.875000,743338.562500,748940.000000
ZMB_Zambia_rgdpe,NaN,NaN,NaN,NaN,NaN,8253.540039,8764.892578,7424.285156,6713.200195,8605.632812,...,46988.753906,53234.613281,51260.371094,51710.050781,53782.394531,51722.648438,54719.503906,54565.285156,56671.445312,57956.183594
ZWE_Zimbabwe_rgdpe,NaN,NaN,NaN,NaN,6373.737305,6568.608398,7187.440430,7934.921875,7941.915527,9015.389648,...,27993.345703,29494.238281,34897.953125,37219.421875,37861.210938,40141.617188,41875.203125,44672.175781,44325.109375,42296.062500

In [23]:
temp = df
temp['country'] = temp['country'] + '_rgdpo'
rgdpe = temp.pivot(index='country', columns='year', values='rgdpo')
rgdpe

year,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,,,,,,,,,,,
ABW_Aruba_rgdpe_rgdpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3933.467773,4009.232422,3899.813232,4674.097656,4075.201172,3921.183350,3320.976807,3062.580566,3444.658691,3467.299561
AGO_Angola_rgdpe_rgdpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,159625.234375,201857.656250,229563.234375,242490.281250,254874.671875,224712.609375,218670.640625,230151.343750,233805.062500,227855.718750
AIA_Anguilla_rgdpe_rgdpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,381.682800,381.222748,352.689240,303.354248,288.303040,249.571320,225.619247,195.634521,150.344666,225.680527
ALB_Albania_rgdpe_rgdpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31021.064453,31369.515625,32366.191406,30914.691406,32090.505859,33659.421875,33697.976562,34974.945312,35363.468750,36103.042969
ARE_United Arab Emirates_rgdpe_rgdpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,618895.250000,726414.687500,777423.625000,771047.937500,798546.187500,693186.187500,670879.687500,629800.500000,633896.625000,645956.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM_Viet Nam_rgdpe_rgdpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,418834.937500,455975.281250,484298.625000,509217.562500,544960.625000,572777.500000,596363.125000,647224.937500,689643.437500,724123.375000
YEM_Yemen_rgdpe_rgdpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113271.515625,100930.937500,95876.570312,98239.343750,96559.664062,67143.296875,54972.945312,39780.566406,50024.230469,51828.058594
ZAF_South Africa_rgdpe_rgdpo,78747.976562,82031.890625,76588.085938,84552.203125,91874.843750,95587.578125,101618.890625,107611.437500,107842.664062,109421.242188,...,660532.437500,696920.062500,698631.937500,703617.687500,710668.312500,716283.250000,713601.625000,726021.000000,732308.187500,734094.375000
ZMB_Zambia_rgdpe_rgdpo,NaN,NaN,NaN,NaN,NaN,3783.488770,4278.163086,4884.709961,4781.015625,5419.326172,...,45006.218750,51794.539062,50681.574219,51322.351562,53353.972656,52037.515625,54400.398438,53331.152344,55459.121094,56783.714844
ZWE_Zimbabwe_rgdpe_rgdpo,NaN,NaN,NaN,NaN,6277.433594,6469.363281,7078.850586,7815.036621,7821.925781,8879.177734,...,28976.095703,31580.892578,36233.019531,38243.519531,38674.859375,39798.644531,40963.191406,44316.742188,43420.898438,40826.570312